<!DOCTYPE html>
<html>
<head>
    <title>Chat api server</title>
</head>

<body>
<div class="jumbotron text-center">
    <div class="container">
        <h1>Chat api</h1>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> How this simple chat server works</h3>
            <p>
                This server accepts only 2 kinds of requests on <span style="font-family: monospace;">/messages</span>
                endpoint. Further documentation of those below.
            </p>
            <p>
                The server is in-memory only. All the messages are stored only in memory and only last 50 messages are
                stored.
            </p>
        </div>
    </div>
</div>


</body>
</html>
